body {
    font-family: 'Cabin', sans-serif;
}

.header {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 100;
}

.main-title {
    display: flex;
    height: 55px;
    padding: 16px 52px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border: 1px solid #10BBD5;
    background: #10BBD5;
}


a {
    cursor: default;
    text-decoration: none;
}


.logo-link {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #F8FDFE;
    font-size: 24px;
    font-weight: 500;
}

.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.white-txt {
    display: flex;
    color: #F8FDFE;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.buy-btn {
    background: #10BBD5;
    border: none;
    width: 40px;
    height: 40px;
}


.icon-btn {
    background-image: url(../image/hw-5-cart-icon.svg);
    background-size: auto;
}


.check-txt {
    position: fixed;
    top: 35px;
    right: 61px;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: 10px;
}


.normal-text {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}


.navigation {
    display: flex;
    padding: 4px 52px;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
}


.nav-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
}


.products {
    padding: 36px 52px;
    background-color: #EEEEEF;
    padding-top: 55px;
}

.big-txt {
    color: #1F1F1F;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    border-bottom: 1px solid #A8A8A8;
    padding: 0px 0px 23px;
}

.product-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 32px 0px;
}

.books {
    display: inline-flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    background-color: #F8FDFE;
    overflow: hidden;
    border: 1px solid black;
    box-sizing: border-box;
}

.book {
    display: inline-flex;
    justify-content: center;
    align-self: stretch;
    position: relative;
    padding: 0px 32px;
    width: 178px;
    height: 280px;
}


.labels {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    gap: 4px;
}

.new,
.hit,
.sale {
    padding: 4px 8px;
    border-radius: 4px;
}

.new {
    background: #AF39E7;
}

.hit {
    background: #4200FF;
}

.sale {
    background: #EA33C0;
}

.description {
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    overflow: hidden;
    width: 220px;

}

.book-title {
    color: #1F1F1F;

}

.about-title {
    color: gray;
    border-top: 2px solid gray;
}


.price {
    color: #E90000;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

.book-btn {
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 4px;
    background: #4C394E;
}

.link-btn {
    color: white;
}

.end-up {
    background: #4D762D;
}

.old-price {
    color: gray;
    text-decoration: line-through;
}


.footer a {
    color: white;
}

.bottom {
    border: 1px solid #4C394E;
    background: #4C394E;
}

.chat-btn {
    border: none;
    width: 40px;
    height: 40px;
}

.background {
    position: fixed;
    right: 25px;
    bottom: 60px;
}

.chat {
    position: fixed;
    right: 31px;
    bottom: 65px;  
}